/Eye_fundus/Input/im/DRIVE/test/images/im_dark_LP_exponential_to_230
/Manuscript_code/Res
/Manuscript_code/Res_old
/Eye_fundus/Results/Res
/Eye_fundus/Vessel_seg_LMM
/Eye_fundus/Results/im_dark
/Eye_fundus/Results/LMM/fig_vesselness_LMM_01_test.fig
/Eye_fundus/Results/LMM/fig_vesselness_LMM_01_test.png
/Eye_fundus/Results/LMM/fig_vesselness_LMM_02_test.fig
/Eye_fundus/Results/LMM/fig_vesselness_LMM_02_test.png
/Eye_fundus/Results/LMM/fig_vesselness_LMM_03_test.fig
/Eye_fundus/Results/LMM/fig_vesselness_LMM_03_test.png
/Eye_fundus/Results/LMM/fig_vesselness_LMM_04_test.fig
/Eye_fundus/Results/LMM/fig_vesselness_LMM_04_test.png
/Eye_fundus/Results/LMM/fig_vesselness_LMM_05_test.fig
/Eye_fundus/Results/LMM/fig_vesselness_LMM_05_test.png
/Eye_fundus/Results/LMM/fig_vesselness_LMM_06_test.fig
/Eye_fundus/Results/LMM/fig_vesselness_LMM_06_test.png
/Eye_fundus/Results/LMM/fig_vesselness_LMM_07_test.fig
/Eye_fundus/Results/LMM/fig_vesselness_LMM_07_test.png
/Eye_fundus/Results/LMM/fig_vesselness_LMM_08_test.fig
/Eye_fundus/Results/LMM/fig_vesselness_LMM_08_test.png
/Eye_fundus/Results/LMM/fig_vesselness_LMM_09_test.fig
/Eye_fundus/Results/LMM/fig_vesselness_LMM_09_test.png
/Eye_fundus/Results/LMM/fig_vesselness_LMM_10_test.fig
/Eye_fundus/Results/LMM/fig_vesselness_LMM_10_test.png
/Eye_fundus/Results/LMM/fig_vesselness_LMM_11_test.fig
/Eye_fundus/Results/LMM/fig_vesselness_LMM_11_test.png
/Eye_fundus/Results/LMM/fig_vesselness_LMM_12_test.fig
/Eye_fundus/Results/LMM/fig_vesselness_LMM_12_test.png
/Eye_fundus/Results/LMM/fig_vesselness_LMM_13_test.fig
/Eye_fundus/Results/LMM/fig_vesselness_LMM_13_test.png
/Eye_fundus/Results/LMM/fig_vesselness_LMM_14_test.fig
/Eye_fundus/Results/LMM/fig_vesselness_LMM_14_test.png
/Eye_fundus/Results/LMM/fig_vesselness_LMM_15_test.fig
/Eye_fundus/Results/LMM/fig_vesselness_LMM_15_test.png
/Eye_fundus/Results/LMM/fig_vesselness_LMM_16_test.fig
/Eye_fundus/Results/LMM/fig_vesselness_LMM_16_test.png
/Eye_fundus/Results/LMM/fig_vesselness_LMM_17_test.fig
/Eye_fundus/Results/LMM/fig_vesselness_LMM_17_test.png
/Eye_fundus/Results/LMM/fig_vesselness_LMM_18_test.fig
/Eye_fundus/Results/LMM/fig_vesselness_LMM_18_test.png
/Eye_fundus/Results/LMM/fig_vesselness_LMM_19_test.fig
/Eye_fundus/Results/LMM/fig_vesselness_LMM_19_test.png
/Eye_fundus/Results/LMM/fig_vesselness_LMM_20_test.fig
/Eye_fundus/Results/LMM/fig_vesselness_LMM_20_test.png
/Eye_fundus/Results/LMM/fig_vesselness_norm_LMM_01_test.png
/Eye_fundus/Results/LMM/fig_vesselness_norm_LMM_02_test.png
/Eye_fundus/Results/LMM/fig_vesselness_norm_LMM_03_test.png
/Eye_fundus/Results/LMM/fig_vesselness_norm_LMM_04_test.png
/Eye_fundus/Results/LMM/fig_vesselness_norm_LMM_05_test.png
/Eye_fundus/Results/LMM/fig_vesselness_norm_LMM_06_test.png
/Eye_fundus/Results/LMM/fig_vesselness_norm_LMM_07_test.png
/Eye_fundus/Results/LMM/fig_vesselness_norm_LMM_08_test.png
/Eye_fundus/Results/LMM/fig_vesselness_norm_LMM_09_test.png
/Eye_fundus/Results/LMM/fig_vesselness_norm_LMM_10_test.png
/Eye_fundus/Results/LMM/fig_vesselness_norm_LMM_11_test.png
/Eye_fundus/Results/LMM/fig_vesselness_norm_LMM_12_test.png
/Eye_fundus/Results/LMM/fig_vesselness_norm_LMM_13_test.png
/Eye_fundus/Results/LMM/fig_vesselness_norm_LMM_14_test.png
/Eye_fundus/Results/LMM/fig_vesselness_norm_LMM_15_test.png
/Eye_fundus/Results/LMM/fig_vesselness_norm_LMM_16_test.png
/Eye_fundus/Results/LMM/fig_vesselness_norm_LMM_17_test.png
/Eye_fundus/Results/LMM/fig_vesselness_norm_LMM_18_test.png
/Eye_fundus/Results/LMM/fig_vesselness_norm_LMM_19_test.png
/Eye_fundus/Results/LMM/fig_vesselness_norm_LMM_20_test.png
/Eye_fundus/Results/LMM/im_vessels_LMM_01_test.png
/Eye_fundus/Results/LMM/im_vessels_LMM_02_test.png
/Eye_fundus/Results/LMM/im_vessels_LMM_03_test.png
/Eye_fundus/Results/LMM/im_vessels_LMM_04_test.png
/Eye_fundus/Results/LMM/im_vessels_LMM_05_test.png
/Eye_fundus/Results/LMM/im_vessels_LMM_06_test.png
/Eye_fundus/Results/LMM/im_vessels_LMM_07_test.png
/Eye_fundus/Results/LMM/im_vessels_LMM_08_test.png
/Eye_fundus/Results/LMM/im_vessels_LMM_09_test.png
/Eye_fundus/Results/LMM/im_vessels_LMM_10_test.png
/Eye_fundus/Results/LMM/im_vessels_LMM_11_test.png
/Eye_fundus/Results/LMM/im_vessels_LMM_12_test.png
/Eye_fundus/Results/LMM/im_vessels_LMM_13_test.png
/Eye_fundus/Results/LMM/im_vessels_LMM_14_test.png
/Eye_fundus/Results/LMM/im_vessels_LMM_15_test.png
/Eye_fundus/Results/LMM/im_vessels_LMM_16_test.png
/Eye_fundus/Results/LMM/im_vessels_LMM_17_test.png
/Eye_fundus/Results/LMM/im_vessels_LMM_18_test.png
/Eye_fundus/Results/LMM/im_vessels_LMM_19_test.png
/Eye_fundus/Results/LMM/im_vessels_LMM_20_test.png
/Eye_fundus/Results/LMM/mask_vessels_LMM_01_test.png
/Eye_fundus/Results/LMM/mask_vessels_LMM_02_test.png
/Eye_fundus/Results/LMM/mask_vessels_LMM_03_test.png
/Eye_fundus/Results/LMM/mask_vessels_LMM_04_test.png
/Eye_fundus/Results/LMM/mask_vessels_LMM_05_test.png
/Eye_fundus/Results/LMM/mask_vessels_LMM_06_test.png
/Eye_fundus/Results/LMM/mask_vessels_LMM_07_test.png
/Eye_fundus/Results/LMM/mask_vessels_LMM_08_test.png
/Eye_fundus/Results/LMM/mask_vessels_LMM_09_test.png
/Eye_fundus/Results/LMM/mask_vessels_LMM_10_test.png
/Eye_fundus/Results/LMM/mask_vessels_LMM_11_test.png
/Eye_fundus/Results/LMM/mask_vessels_LMM_12_test.png
/Eye_fundus/Results/LMM/mask_vessels_LMM_13_test.png
/Eye_fundus/Results/LMM/mask_vessels_LMM_14_test.png
/Eye_fundus/Results/LMM/mask_vessels_LMM_15_test.png
/Eye_fundus/Results/LMM/mask_vessels_LMM_16_test.png
/Eye_fundus/Results/LMM/mask_vessels_LMM_17_test.png
/Eye_fundus/Results/LMM/mask_vessels_LMM_18_test.png
/Eye_fundus/Results/LMM/mask_vessels_LMM_19_test.png
/Eye_fundus/Results/LMM/mask_vessels_LMM_20_test.png
/Eye_fundus/Results/LMM/vesselness_LMM_01_test.mat
/Eye_fundus/Results/LMM/vesselness_LMM_02_test.mat
/Eye_fundus/Results/LMM/vesselness_LMM_03_test.mat
/Eye_fundus/Results/LMM/vesselness_LMM_04_test.mat
/Eye_fundus/Results/LMM/vesselness_LMM_05_test.mat
/Eye_fundus/Results/LMM/vesselness_LMM_06_test.mat
/Eye_fundus/Results/LMM/vesselness_LMM_07_test.mat
/Eye_fundus/Results/LMM/vesselness_LMM_08_test.mat
/Eye_fundus/Results/LMM/vesselness_LMM_09_test.mat
/Eye_fundus/Results/LMM/vesselness_LMM_10_test.mat
/Eye_fundus/Results/LMM/vesselness_LMM_11_test.mat
/Eye_fundus/Results/LMM/vesselness_LMM_12_test.mat
/Eye_fundus/Results/LMM/vesselness_LMM_13_test.mat
/Eye_fundus/Results/LMM/vesselness_LMM_14_test.mat
/Eye_fundus/Results/LMM/vesselness_LMM_15_test.mat
/Eye_fundus/Results/LMM/vesselness_LMM_16_test.mat
/Eye_fundus/Results/LMM/vesselness_LMM_17_test.mat
/Eye_fundus/Results/LMM/vesselness_LMM_18_test.mat
/Eye_fundus/Results/LMM/vesselness_LMM_19_test.mat
/Eye_fundus/Results/LMM/vesselness_LMM_20_test.mat
/Eye_fundus/Result_analysis/Table_comparison_methods.xlsx
/Eye_fundus/code/Table_comparison_methods.xlsx
/Eye_fundus/Results/LMM/Results_with_darken_images
/Eye_fundus/Results/LMM/Results_with_initial_images
/Eye_fundus/code/*.asv
*.asv
/Eye_fundus/Results/RF-Unet/pred_drk_LP_exponential_to_230/pre_b0_comp.png
/Eye_fundus/Results/RF-Unet/pred_drk_LP_exponential_to_230/pre_b10_comp.png
/Eye_fundus/Results/RF-Unet/pred_drk_LP_exponential_to_230/pre_b11_comp.png
/Eye_fundus/Results/RF-Unet/pred_drk_LP_exponential_to_230/pre_b12_comp.png
/Eye_fundus/Results/RF-Unet/pred_drk_LP_exponential_to_230/pre_b13_comp.png
/Eye_fundus/Results/RF-Unet/pred_drk_LP_exponential_to_230/pre_b14_comp.png
/Eye_fundus/Results/RF-Unet/pred_drk_LP_exponential_to_230/pre_b15_comp.png
/Eye_fundus/Results/RF-Unet/pred_drk_LP_exponential_to_230/pre_b16_comp.png
/Eye_fundus/Results/RF-Unet/pred_drk_LP_exponential_to_230/pre_b17_comp.png
/Eye_fundus/Results/RF-Unet/pred_drk_LP_exponential_to_230/pre_b18_comp.png
/Eye_fundus/Results/RF-Unet/pred_drk_LP_exponential_to_230/pre_b19_comp.png
/Eye_fundus/Results/RF-Unet/pred_drk_LP_exponential_to_230/pre_b1_comp.png
/Eye_fundus/Results/RF-Unet/pred_drk_LP_exponential_to_230/pre_b2_comp.png
/Eye_fundus/Results/RF-Unet/pred_drk_LP_exponential_to_230/pre_b3_comp.png
/Eye_fundus/Results/RF-Unet/pred_drk_LP_exponential_to_230/pre_b4_comp.png
/Eye_fundus/Results/RF-Unet/pred_drk_LP_exponential_to_230/pre_b5_comp.png
/Eye_fundus/Results/RF-Unet/pred_drk_LP_exponential_to_230/pre_b6_comp.png
/Eye_fundus/Results/RF-Unet/pred_drk_LP_exponential_to_230/pre_b7_comp.png
/Eye_fundus/Results/RF-Unet/pred_drk_LP_exponential_to_230/pre_b8_comp.png
/Eye_fundus/Results/RF-Unet/pred_drk_LP_exponential_to_230/pre_b9_comp.png
/Eye_fundus/Results/RF-Unet/pred_ini/pre_b0_comp.png
/Eye_fundus/Results/RF-Unet/pred_ini/pre_b10_comp.png
/Eye_fundus/Results/RF-Unet/pred_ini/pre_b11_comp.png
/Eye_fundus/Results/RF-Unet/pred_ini/pre_b12_comp.png
/Eye_fundus/Results/RF-Unet/pred_ini/pre_b13_comp.png
/Eye_fundus/Results/RF-Unet/pred_ini/pre_b14_comp.png
/Eye_fundus/Results/RF-Unet/pred_ini/pre_b15_comp.png
/Eye_fundus/Results/RF-Unet/pred_ini/pre_b16_comp.png
/Eye_fundus/Results/RF-Unet/pred_ini/pre_b17_comp.png
/Eye_fundus/Results/RF-Unet/pred_ini/pre_b18_comp.png
/Eye_fundus/Results/RF-Unet/pred_ini/pre_b19_comp.png
/Eye_fundus/Results/RF-Unet/pred_ini/pre_b1_comp.png
/Eye_fundus/Results/RF-Unet/pred_ini/pre_b2_comp.png
/Eye_fundus/Results/RF-Unet/pred_ini/pre_b3_comp.png
/Eye_fundus/Results/RF-Unet/pred_ini/pre_b4_comp.png
/Eye_fundus/Results/RF-Unet/pred_ini/pre_b5_comp.png
/Eye_fundus/Results/RF-Unet/pred_ini/pre_b6_comp.png
/Eye_fundus/Results/RF-Unet/pred_ini/pre_b7_comp.png
/Eye_fundus/Results/RF-Unet/pred_ini/pre_b8_comp.png
/Eye_fundus/Results/RF-Unet/pred_ini/pre_b9_comp.png
/Eye_fundus/Results/RVGAN/pred_drk_LP_exponential_to_230/Fine/01_comp.png
/Eye_fundus/Results/RVGAN/pred_drk_LP_exponential_to_230/Fine/02_comp.png
/Eye_fundus/Results/RVGAN/pred_drk_LP_exponential_to_230/Fine/03_comp.png
/Eye_fundus/Results/RVGAN/pred_drk_LP_exponential_to_230/Fine/04_comp.png
/Eye_fundus/Results/RVGAN/pred_drk_LP_exponential_to_230/Fine/05_comp.png
/Eye_fundus/Results/RVGAN/pred_drk_LP_exponential_to_230/Fine/06_comp.png
/Eye_fundus/Results/RVGAN/pred_drk_LP_exponential_to_230/Fine/07_comp.png
/Eye_fundus/Results/RVGAN/pred_drk_LP_exponential_to_230/Fine/08_comp.png
/Eye_fundus/Results/RVGAN/pred_drk_LP_exponential_to_230/Fine/09_comp.png
/Eye_fundus/Results/RVGAN/pred_drk_LP_exponential_to_230/Fine/10_comp.png
/Eye_fundus/Results/RVGAN/pred_drk_LP_exponential_to_230/Fine/11_comp.png
/Eye_fundus/Results/RVGAN/pred_drk_LP_exponential_to_230/Fine/12_comp.png
/Eye_fundus/Results/RVGAN/pred_drk_LP_exponential_to_230/Fine/13_comp.png
/Eye_fundus/Results/RVGAN/pred_drk_LP_exponential_to_230/Fine/14_comp.png
/Eye_fundus/Results/RVGAN/pred_drk_LP_exponential_to_230/Fine/15_comp.png
/Eye_fundus/Results/RVGAN/pred_drk_LP_exponential_to_230/Fine/16_comp.png
/Eye_fundus/Results/RVGAN/pred_drk_LP_exponential_to_230/Fine/17_comp.png
/Eye_fundus/Results/RVGAN/pred_drk_LP_exponential_to_230/Fine/18_comp.png
/Eye_fundus/Results/RVGAN/pred_drk_LP_exponential_to_230/Fine/19_comp.png
/Eye_fundus/Results/RVGAN/pred_drk_LP_exponential_to_230/Fine/20_comp.png
/Eye_fundus/Results/RVGAN/pred_ini/Fine/01_comp.png
/Eye_fundus/Results/RVGAN/pred_ini/Fine/02_comp.png
/Eye_fundus/Results/RVGAN/pred_ini/Fine/03_comp.png
/Eye_fundus/Results/RVGAN/pred_ini/Fine/04_comp.png
/Eye_fundus/Results/RVGAN/pred_ini/Fine/05_comp.png
/Eye_fundus/Results/RVGAN/pred_ini/Fine/06_comp.png
/Eye_fundus/Results/RVGAN/pred_ini/Fine/07_comp.png
/Eye_fundus/Results/RVGAN/pred_ini/Fine/08_comp.png
/Eye_fundus/Results/RVGAN/pred_ini/Fine/09_comp.png
/Eye_fundus/Results/RVGAN/pred_ini/Fine/10_comp.png
/Eye_fundus/Results/RVGAN/pred_ini/Fine/11_comp.png
/Eye_fundus/Results/RVGAN/pred_ini/Fine/12_comp.png
/Eye_fundus/Results/RVGAN/pred_ini/Fine/13_comp.png
/Eye_fundus/Results/RVGAN/pred_ini/Fine/14_comp.png
/Eye_fundus/Results/RVGAN/pred_ini/Fine/15_comp.png
/Eye_fundus/Results/RVGAN/pred_ini/Fine/16_comp.png
/Eye_fundus/Results/RVGAN/pred_ini/Fine/17_comp.png
/Eye_fundus/Results/RVGAN/pred_ini/Fine/18_comp.png
/Eye_fundus/Results/RVGAN/pred_ini/Fine/19_comp.png
/Eye_fundus/Results/RVGAN/pred_ini/Fine/20_comp.png
/Eye_fundus/Results/SGL/pred_drk_LP_exponential_to_230/results-DRIVET/01_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_drk_LP_exponential_to_230/results-DRIVET/02_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_drk_LP_exponential_to_230/results-DRIVET/03_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_drk_LP_exponential_to_230/results-DRIVET/04_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_drk_LP_exponential_to_230/results-DRIVET/05_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_drk_LP_exponential_to_230/results-DRIVET/06_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_drk_LP_exponential_to_230/results-DRIVET/07_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_drk_LP_exponential_to_230/results-DRIVET/08_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_drk_LP_exponential_to_230/results-DRIVET/09_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_drk_LP_exponential_to_230/results-DRIVET/10_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_drk_LP_exponential_to_230/results-DRIVET/11_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_drk_LP_exponential_to_230/results-DRIVET/12_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_drk_LP_exponential_to_230/results-DRIVET/13_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_drk_LP_exponential_to_230/results-DRIVET/14_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_drk_LP_exponential_to_230/results-DRIVET/15_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_drk_LP_exponential_to_230/results-DRIVET/16_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_drk_LP_exponential_to_230/results-DRIVET/17_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_drk_LP_exponential_to_230/results-DRIVET/18_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_drk_LP_exponential_to_230/results-DRIVET/19_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_drk_LP_exponential_to_230/results-DRIVET/20_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_ini/results-DRIVET/01_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_ini/results-DRIVET/02_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_ini/results-DRIVET/03_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_ini/results-DRIVET/04_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_ini/results-DRIVET/05_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_ini/results-DRIVET/06_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_ini/results-DRIVET/07_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_ini/results-DRIVET/08_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_ini/results-DRIVET/09_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_ini/results-DRIVET/10_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_ini/results-DRIVET/11_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_ini/results-DRIVET/12_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_ini/results-DRIVET/13_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_ini/results-DRIVET/14_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_ini/results-DRIVET/15_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_ini/results-DRIVET/16_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_ini/results-DRIVET/17_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_ini/results-DRIVET/18_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_ini/results-DRIVET/19_training_x1_vessel_map_comp.png
/Eye_fundus/Results/SGL/pred_ini/results-DRIVET/20_training_x1_vessel_map_comp.png
